*{
    margin: 0; /*MARGIN : ES ESPACIOS ENTRE ELEMENTOS */
    padding: 0; /*PADDING : ES EL RELLENO,GROSOR DEL ELEMENTO   */
    color:white;  /* COLOR DE LA LETRA DEL ELEMENTO*/
}

body{

    background-color: hsl(0, 0%, 13%); 
}

nav{
    display: flex;
    position: relative;
    background-color: rgba(20, 20, 20, 0.569);
   height: 60px;
  border-bottom: solid rgba(155, 155, 155, 0.342) 1px;
  align-items: center;
 
}

.nombreWeb{

    display: flex;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.nombreWeb a {
    display: flex;
    text-decoration: none;
}
.nombreWeb:hover{
    background-color: rgba(75, 75, 75, 0.3);
    border: dotted 1px rgba(255, 255, 255, 0.342);
    transition: 0.3s;
   
    border-radius: 10px;

}

.nombreWeb p{
    font-size: 20px;
}
.nombreWeb b{
    font-size: 20px;
   color:  rgb(13, 231, 46);
}
.nuevoHorizonte{
   width: 230px;
    margin-left: 30px;
    border-left: rgba(75, 75, 75, 0.5) 1px solid;
    padding-left: 20px;
 
}




.nuevoHorizonte a{
   
    display: flex;
font-size: 18px;
    align-items: center;
    padding-bottom: 3px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;



  
}

.nuevoHorizonte a:hover{

    background-color: rgba(75, 75, 75, 0.3);
 border-radius: 15px;
 border: dotted 1px rgba(255, 255, 255, 0.342);
 transition: 0.3s;
 color: rgba(13, 231, 129, 0.89);

 font-weight: bold;
 
}

#escuela{
    
width: 30px;
height: 30px;
    fill: white;
    margin-right: 5px;
}


.cajaMenu{
    position: relative;
    display: flex;
   margin-left: 15px;
   align-items: center;


}



.descripcionMenu{
    margin-top: 1px;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
    top: 102%;
    display: flex;
    text-align: center;

}



.cajaMenu:hover .descripcionMenu{
    visibility: visible;
    opacity: 1;
    font-size: 12px;

}



/*id del icono Menu---*/
#menu{

    width: 20px;
    height: 20px;
    fill: white;
    padding: 5px;
  
   
}

#menu:hover{
    fill:rgba(13, 231, 129, 0.89);
   transition: 0.4s;
   z-index: 800;
   background-color: white;
   border-radius: 10px;
 
}
.cajaUser{
    width: 100%;

}

.posicionUser{
    position: absolute;
 right: 20px;
 align-content: center;
 align-items: center;
 top: 15px;

 display: flex;
  
    
}

.posicionUser a {
    display: flex;
    align-items: center;
    justify-content: start;
  
}

/*MENU*/

#sect1{
    position: relative;
    margin-top: 5px;
    
    
    
    }
    
    #contentMenu{
    
        position: absolute;
        left: -355px ;
        padding-top: 20px;
        width: 350px;
        background-color: #15151550;
        border-left: dotted rgba(255, 255, 255, 0.342) 1px;
        border-radius: 10px;
        border-right: dotted rgba(255, 255, 255, 0.342) 1px;
        border-bottom:dotted rgba(255, 255, 255, 0.342) 1px ;
        
    
    }
    
    .perfilIes{
    
      
        display: flex;
        align-items: center;
        justify-content: center;
       
         padding-bottom: 25px;
         
       
    }
    
    
    
    .perfilIes p {
    
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .nuevoHorizonteImg{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    
    
    .ubicacion{
        display: flex;
        margin-left: auto;
        margin-right: auto;
         width: 300px;
        border-bottom: 1px rgba(255, 255, 255, 0.342) solid;
        font-size: 15px; 
    }
    
    .ubicacion a {
        margin-right: 5px;
    }
    #iconUbi{
        padding: 5px;
        border-radius: 10px;
    
    }
    
    #iconUbi:hover{
        fill: rgb(13, 231, 46);
        background-color: rgba(75, 75, 75, 0.5);
      
    
    
    }
    
    .cajaServicios{ 
        padding-top: 20px ;
        margin-top: 10px;
        margin-bottom: 10px;
    
    
    }
    
    .servicios{
        margin-left: 10px;
        border-radius: 15px;
        list-style: none;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 18px;
        padding-left: 15px;
    
       
    }
    
    .servicios:hover{
    
        color: rgb(13, 231, 46);
     
        transition: 0.3s;
        cursor: pointer;
        background-color: rgba(75, 75, 75, 0.3);
    }







/*icono de Usuario*/

#Capa_2{
    width: 25px;
    fill: white;
    height: 30px;
    border-radius: 15px;
}




#Capa_2:hover{
    fill: rgba(13, 231, 129, 0.89);
    width: 30px;
    transition: 0.2s;
    background-color: white;
    border-radius: 15px;
}

.descripcionUser{
    position: absolute;
    background-color: transparent;
    visibility: hidden;
    top: 110%;
   right: -13px;
   font-size: 10px;
   
 


}

.posicionUser:hover .descripcionUser{

 visibility: visible;
 margin-top: 2px;
 background-color: rgba(75, 75, 75, 0.5);
 border-radius: 6px;
 margin-right: 2px;
 padding-left: 5px;
 padding-right: 5px;

}



.cajaNotificaciones{
    position: absolute;
    right: 70px;
    display: flex;
    align-items: center;
}

.notificacion1{

    position: absolute;
    top: 50px;
    right: 30px;
    background-color: rgba(155, 155, 155, 0.342);
    border-radius: 15px 0px 15px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
     width: 440px;
     visibility: hidden;

    
}


.notificacion1 li  {

 list-style: none;
   
 border-radius: 0px 15px 15px 15px;  


}










/* Usuario Rick*/
.usuarioRick{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid black 1px;
}

.cajaMsj{

    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
 

}
.cajaMsj:hover{
    border-right: solid 1px rgba(255, 255, 255, 0.342);
    border-left: solid 1px rgba(255, 255, 255, 0.342);
}
.msj{

    background-color: rgba(20, 20, 20, 0.569);
    border-radius: 0px 20px 20px 20px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
   margin-top: 40px;
    font-size: 18px;
    

}


/*---ENVIAR ---*/
#enviar{

    width: 20px;
    height: 25px;
    padding: 10px;
    border-radius: 15px;
    fill: white;
    background-color: rgba(155, 155, 155, 0.342);
}

#enviar:hover{
    fill: rgb(13, 231, 46);
    background-color: white;
    transition: 0.4s;
}
.cajaEnviar{
    position: relative;
    height: 25px;
    border-radius: 25px;
   
    margin-top: 20px;
    margin-left: 5px;

}
.descripcionEnviar{
    position: absolute;
   width: 70px;
    visibility: hidden;
    background-color: rgba(20, 20, 20, 0.569);
    padding:10px;
    border-radius: 0 10px 10px 10px;
  top: 30px;
   
    left: 50px;
    display: flex;
     justify-content: center;
  
   
}

.descripcionEnviar p{
    color: rgb(13, 231, 46);
}

.cajaEnviar:hover .descripcionEnviar{

 visibility: visible;
}





#Capa_3{
    width: 20px;
    height: 20px;
    fill: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

#Capa_3:hover{

    fill: rgba(13, 231, 129, 0.89);
    transition: 0.4s;
    z-index: 800;
    background-color: white;
 

}

.descripcionNotificaciones{
    margin-top: 1px;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
   bottom: -20px;
   right: -30px;
    display: flex;
    text-align: center;
    font-size: 10px;

}

.cajaNotificaciones:hover .descripcionNotificaciones{


    visibility: visible;
 margin-top: 2px;
 background-color: rgba(75, 75, 75, 0.5);
 border-radius: 6px;
 margin-right: 2px;
 padding-left: 5px;
 
 padding-right: 5px;


}

summary{
  
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}
summary:hover{
    background-color: rgba(30, 30, 30, 0.469);
    transition: 0.4s;
    cursor: pointer;
    color: rgba(13, 231, 129, 0.89);
}








