*{
    margin: 0; /*MARGIN : ES ESPACIOS ENTRE ELEMENTOS */
    padding: 0; /*PADDING : ES EL RELLENO,GROSOR DEL ELEMENTO   */
    color:white;  /* COLOR DE LA LETRA DEL ELEMENTO*/
}

body{

    background-color: #202020; 
}

nav{
    display: flex;
    position: relative;
    background-color: #151515;
   height: 60px;
  border-bottom: solid  rgba(13, 231, 46, 0.6) 1px;
  align-items: center;
 
}

.nombreWeb{

    display: flex;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.nombreWeb a {
    display: flex;
    text-decoration: none;
}
.nombreWeb:hover{
    background-color: rgba(75, 75, 75, 0.3);
    border: dotted 1px rgba(255, 255, 255, 0.342);
    transition: 0.3s;
   
    border-radius: 10px;

}

.nombreWeb p{
    font-size: 20px;
}
.nombreWeb b{
    font-size: 20px;
   color:  rgb(13, 231, 46);
}


.cajaMenu{
    position: relative;
    display: flex;
   margin-left: 15px;
   align-items: center;


}



.descripcionMenu{
    margin-top: 1px;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
    top: 102%;
    display: flex;
    text-align: center;

}



.cajaMenu:hover .descripcionMenu{
    visibility: visible;
    opacity: 1;
    font-size: 12px;

}



/*id del icono Menu---*/
#Capa_1{

    width: 20px;
    height: 20px;
    fill: white;
    padding: 5px;
  
   
}

#Capa_1:hover{
    fill: rgb(13, 231, 46);
   transition: 0.4s;
   z-index: 800;
   background-color: white;
   border-radius: 10px;
 
}

.cajaNotificaciones{
    position: absolute;
    right: 70px;
    display: flex;
    align-items: center;
}



#Capa_3{
    width: 20px;
    height: 20px;
    fill: white;
    padding: 5px;
}

#Capa_3:hover{

    fill: rgb(13, 231, 46);
    transition: 0.4s;
    z-index: 800;
    background-color: white;
    border-radius: 10px;

}

.descripcionNotificaciones{
    margin-top: 1px;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
   bottom: -20px;
   right: -30px;
    display: flex;
    text-align: center;
    font-size: 10px;

}

.cajaNotificaciones:hover .descripcionNotificaciones{


    visibility: visible;
 margin-top: 2px;
 background-color: rgba(75, 75, 75, 0.5);
 border-radius: 6px;
 margin-right: 2px;
 padding-left: 5px;
 padding-right: 5px;


}

