*{
    margin: 0; /*MARGIN : ES ESPACIOS ENTRE ELEMENTOS */
    padding: 0; /*PADDING : ES EL RELLENO,GROSOR DEL ELEMENTO   */
    color:white;  /* COLOR DE LA LETRA DEL ELEMENTO*/
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

}

body{

    background-color: #202020; 
    
}

nav{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #151515;
  
  border-bottom: solid  rgba(13, 231, 46, 0.3) 1px;
   
 
}

.parte1{
    display: flex;
  
    padding-bottom: 10px;
    padding-top: 10px;

}


.nombreWeb{

    display: flex;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.nombreWeb a {
    display: flex;
    text-decoration: none;
}
.nombreWeb:hover{
    background-color: rgba(75, 75, 75, 0.3);
    border: dotted 1px rgba(255, 255, 255, 0.342);
    transition: 0.3s;
   
    border-radius: 10px;

}

.nombreWeb p{
    font-size: 20px;
}
.nombreWeb b{
    font-size: 20px;
   color:  rgb(13, 231, 46);
}

.user{
    display: flex;
    align-items: center;
  
}

.cajaMenu{
    position: relative;
    display: flex;
   margin-left: 15px;
   align-items: center;


}



.descripcionMenu{
    margin-top: 1px;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
    top: 102%;
    display: flex;
    text-align: center;

}



.cajaMenu:hover .descripcionMenu{
    visibility: visible;
    opacity: 1;
    font-size: 12px;

}



/*id del icono Menu---*/
#menu{

    width: 20px;
    height: 20px;
    fill: white;
    padding: 5px;
  
   
}

#menu:hover{
    fill: rgb(13, 231, 46);
   transition: 0.4s;
   z-index: 800;
   background-color: white;
   border-radius: 10px;
 
}

.cajaNotificaciones{
    position: absolute;
    right: 70px;
    display: flex;
    align-items: center;
}



#Capa_3{
    width: 20px;
    height: 20px;
    fill: white;
    padding: 5px;
}

#Capa_3:hover{

    fill: rgb(13, 231, 46);
    transition: 0.4s;
    z-index: 800;
    background-color: white;
    border-radius: 10px;

}

.descripcionNotificaciones{
    margin-top: 1px;
    position: absolute;
    background-color: transparent;
    visibility: hidden;
   bottom: -20px;
   right: -30px;
    display: flex;
    text-align: center;
    font-size: 10px;

}

.cajaNotificaciones:hover .descripcionNotificaciones{


    visibility: visible;
 margin-top: 2px;
 background-color: rgba(75, 75, 75, 0.5);
 border-radius: 6px;
 margin-right: 2px;
 padding-left: 5px;
 padding-right: 5px;


}


/* PARTE DE ABAJO PARTE 2 Header*/


.parte2{

    display: flex;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;

}

.opciones{
    list-style: none;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.opciones:hover{
    background-color: rgba(75, 75, 75, 0.5);
    cursor: pointer;
    transition: 0.3s;
    border: solid 1px rgba(13, 231, 46, 0.6);
    
  
}


/*ICONOS*/



#libro{
    width: 25px;
    height: 25px;
    fill: white;
    padding-right: 5px;
    
}
#identificacion{

    width: 25px;
    height: 25px;
    fill: white;
    padding-right: 5px;
}
#carpetas{
    width:  25px;
    height: 25px;
    fill: white;
    padding-right: 5px;
}

/*---- MENU -----*/

#sect1{
position: relative;
margin-top: 5px;
display: flex;



}

#contentMenu{

    position: absolute;
    left: -355px ;
    padding-top: 20px;
    width: 350px;
    background-color: rgba(20, 20, 20, 0.85);
    border-left: dotted rgba(255, 255, 255, 0.342) 1px;
    border-radius: 10px;
    border-right: dotted rgba(255, 255, 255, 0.342) 1px;
    border-bottom:dotted rgba(255, 255, 255, 0.342) 1px ;
    z-index: 1000;
    

}

.perfilIes{

  
    display: flex;
    align-items: center;
    justify-content: center;
   
     padding-bottom: 25px;
     
   
}



.perfilIes p {

    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.nuevoHorizonte{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.ubicacion{
    display: flex;
    margin-left: auto;
    margin-right: auto;
     width: 300px;
    border-bottom: 1px rgba(255, 255, 255, 0.342) solid;
    font-size: 15px; 
}

.ubicacion a {
    margin-right: 5px;
}
#iconUbi{
    padding: 5px;
    border-radius: 10px;

}

#iconUbi:hover{
    fill: rgb(13, 231, 46);
    background-color: rgba(75, 75, 75, 0.5);
  


}

.cajaServicios{ 
    padding-top: 20px ;
    margin-top: 10px;
    margin-bottom: 10px;


}

.servicios{
    margin-left: 10px;
    border-radius: 15px;
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 18px;
    padding-left: 15px;

   
}

.servicios:hover{

    color: rgb(13, 231, 46);
 
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(75, 75, 75, 0.3);
}




/*seccion Perfil del Usuario*/


.usuario01{ 
    display: flex;




}


.cajaDePerfil{

    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    margin-left: 5px;
    font-family: "Playfair Display", serif;

}

.fotoDePerfil{

  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 2px rgba(13, 231, 46, 0.3);
  margin-left:10px;
  margin-right: 10px; 


}

.cajaDePerfil li{
    font-size: 24px;
    list-style:none;
  
}

.nombre{
   
margin-top: 15px;
margin-left: auto;
margin-right: auto;

border-bottom:  dotted rgba(255, 255, 255, 0.342) 1px;
padding-bottom: 10px;
width: 80%;
text-align: center;




}

.editarUser{
    background-color: rgba(75, 75, 75, 0.5);
 padding-top: 10px;
   padding-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  
   
}
.cajaEstado{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
   position: relative;
   margin-top: 20px;
   justify-content: center;
   width: 98%;
   margin-left: auto;
   margin-right: auto;
   flex-wrap: wrap;


}

.cajaEstado li {

  color: rgb(13, 231, 46);

    
}

#estadoPredefinido{

    padding-left: 10px;
    color: white;
    font-size: 20px;
  
}

#iconoSuma{
    width: 24px;
    height: 24px;
    fill: white;
    margin-left: 10px;
    cursor: pointer;

}

#iconoSuma:hover{

    fill:rgb(13, 231, 46);
    transition: 0.4s;

}

.estados{
   

    font-family: "Playfair Display", serif;
    font-size: 18px;
   
   
    background:black;
    display: flex;
    align-items: center;
       
}
.editarUser:hover{
    color: rgb(13, 231, 46);
    background-color: rgba(75, 75, 75, 0.3);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

/*Caja para cambiar el estado del Usuario*/

#cajaEscribirEstado{

    position: absolute;
    width: 400px;
    left: 320px;
    bottom:150px;
    background-color: rgba(20, 20, 20, 0.7);
    padding: 20px;
    border: solid 1px rgba(130, 130, 130, 0.8);
    text-align: center;
    visibility: hidden;
    
 
}
#cajaEscribirEstado p {

    margin-bottom:20px;
    font-size: 20px;
   
}



.nuevoEstado{ /*elemento : input */

   background-color: #202020;
  
   
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    border-radius: 15px;
    margin-bottom: 10px;
  
}

#nuevoEstado:hover{
    border: solid 1px rgba(13, 231, 46, 0.3);
}





.label01{
    
    display: flex;
    flex-direction: column;
    
}


.btnCaja{
    justify-content: center;
    display: flex;
}
.stiloBtnEstado{

    border: solid 1px white;
padding: 10px;
border-radius: 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.stiloBtnEstado:hover{
    color: rgb(13, 231, 46);
    border-radius: 0;
    transition: 0.4s;
 
    border: 1px rgba(13, 231, 46, 0.6) solid;
    font-weight: bold;
}

.stiloBtnEstado:hover #cambiar{
    
    fill: rgb(13, 231, 46);
}

#cambiar{ /*Icono*/
    
    width: 30px;
    height: 30px;
  fill: white;
  padding-left: 20px;   
}


/*--- FIN---- de cambio de estado*/


/*Descripcion de RickSanchez / Usuario 1*/



.cajaDescripcion{
    

    background-color: black;
    display: flex;
    flex-direction: column;
    width: 800px;
 
  margin-left: 10px;
  padding-bottom: 10px;
}

.cajaDatosTitle{

    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(130, 130, 130, 0.8);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.cajaDatosTitle li b  {

    color: rgb(13, 231, 46);
   

}

.cajaDatosUser01{
    display: flex;
    justify-content: center;
    padding-bottom:10px ;
}






.cajaDescripcion li {
    margin-left: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    list-style: none;
    
}

.cajaDescripcion .descripcionUser01 b {

    font-size: 20px;
}

.cajaContacto{
    border-top: solid 3px #202020;
  display: flex;
  text-align: center;
 
  flex-direction: column;


}
.cajaContacto li {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px rgba(255, 255, 255, 0.342);
   
}

.cajaContacto li b {
    color: rgb(13, 231, 46);
}





.cajaNumerosTelefono{

    display: flex;
    align-items: center;
    justify-content:center   ;
}

.cajaNumerosTelefono li  {
    display: flex;
    align-items: center;
padding-left: 20px;
padding-right: 20px;

}
.cajaNumerosTelefono li b {
    margin-right: 10px;
}

#whatsApp{

    width:30px;
    height: 30px;
    margin-left: 10px;
}
#whatsApp:hover{
    opacity: 0.7;
    width: 35px;
    height: 32px;
    transition: 0.3s;


}
.cajaCorreo{
    display: flex;
    justify-content: center;

}






/*Importante Servicios Nuevo Horizonte*/



.cajaPrincipalTramites{
    margin-right: 5px;
    background-color: black;
    margin-left: 10px;
    padding-bottom: 30px;
  
}
.cajaPrincipalTramites h3 {

    margin-top: 20px;
    text-align: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.342);
    padding-bottom: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.cajaTrimetesLogo{
  align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.logoNuevoHorizonte{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cajaTramites{
    display: flex;
    flex-direction: column;
  justify-content: center;

}
.cajaTramites li{
    font-size:18px ;
  
    padding: 10px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 15px;
 

}

    .cajaTramites li:hover::marker {

        color: rgb(13, 231, 46);
        font-size: 23px;
        transition: 0.3s;
     
        
        }

.cajaTramites li:hover{
    background-color: #252525;
    font-weight: bold;
    cursor: pointer;
    
}




